# requirements.txt
# Daftar pustaka Python
# Cara instalasi: jalankan perintah di bawah ini di terminal
# pip install -r requirements.txt

streamlit
pandas
matplotlib
seaborn
gspread
oauth2client
openpyxl

# Tambahan untuk cache dan integrasi Google API
pickle-mixin
requests
google-auth
google-auth-oauthlib
google-api-python-client
